header {
    padding-right: 5.6%;
}

.top-bar {
    height: 29px;
    margin-bottom: 30px;
    background-color: #f5f5f5;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #1a2333;
}

.p-1 a {
    margin-left: 18px;
}

.navbar-light .navbar-nav .nav-link {
    margin-left: 35px;
    color: #222e41;
}

.navbar {
    height: 67px;
    margin-left: 5.6%;
    margin-right: 5.6%;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.dropdown-menu a {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 13px;
}

a:hover,
.active {
    color: #00aeef !important;
}

.carousel {
    position: absolute;
    margin-top: 29px;
}

.container {
    background-color: #edf3fa
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}